@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url(../images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top;
    background-color: hsl(275, 100%, 97%);
    font-family: "Work Sans", sans-serif;
}